<mat-tab-group>
  <mat-tab label="Final View" >
    <mc-form-grid>
      <mc-form-input label="Confusing Form Input" questionText="Here is some additional information about this form that will help the user be better informed.">
        <input type="text" class="form-control" placeholder="Hover over the question mark to learn more">
      </mc-form-input>
    </mc-form-grid>
  </mat-tab>
  <mat-tab label="HTML" >
    <div class="code">
      <div style="color: #f8f8f2; background-color: #272822; font-family: Consolas, 'Courier New', monospace; font-size: 14px; line-height: 19px; white-space: pre;">
        <div>&lt;<span style="color: #f92672;">mc-form-grid</span>&gt;</div>
        <div>&nbsp;&lt;<span style="color: #f92672;">mc-form-input</span>&nbsp;<span style="color: #a6e22e;">label</span>=<span style="color: #e6db74;">"Confusing&nbsp;Form&nbsp;Input"</span>&nbsp;<span style="color: #a6e22e;">questionText</span>=<span style="color: #e6db74;">"Here&nbsp;is&nbsp;some&nbsp;additional&nbsp;information&nbsp;about&nbsp;this&nbsp;form&nbsp;that&nbsp;will&nbsp;help&nbsp;the&nbsp;user&nbsp;be&nbsp;better&nbsp;informed."</span>&gt;</div>
        <div>&nbsp;&nbsp;&nbsp;&lt;<span style="color: #f92672;">input</span>&nbsp;<span style="color: #a6e22e;">type</span>=<span style="color: #e6db74;">"text"</span>&nbsp;<span style="color: #a6e22e;">class</span>=<span style="color: #e6db74;">"form-control"</span>&nbsp;<span style="color: #a6e22e;">placeholder</span>=<span style="color: #e6db74;">"Hover&nbsp;over&nbsp;the&nbsp;question&nbsp;mark&nbsp;to&nbsp;learn&nbsp;more"</span>&gt;</div>
        <div>&nbsp;&lt;/<span style="color: #f92672;">mc-form-input</span>&gt;</div>
        <div>&lt;/<span style="color: #f92672;">mc-form-grid</span>&gt;</div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
