<div class="card">
  <div class="card-body">
    <h1 class="text-center">Form Grid Component</h1>
    <h3 class="text-center"><code>mc-form-grid</code></h3>

    <h4>Component Input Directives:</h4>
    <table class="table api-table table-striped">
      <thead>
        <tr>
          <td>Directive</td>
          <td>Type</td>
          <td>Description</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>labelWidth</span></td>
          <td>string</td>
          <td>Specify a hard width for all labels. Not recommended to use this.</td>
        </tr>
        <tr>
          <td><span>labelPadding</span></td>
          <td>string</td>
          <td></td>
        </tr>
        <tr>
          <td><span>boldLabel</span></td>
          <td>boolean</td>
          <td>Automatically makes the label bold.</td>
        </tr>
        <tr>
          <td><span>appendColon</span></td>
          <td>boolean</td>
          <td>Appends a colon to every form-input and form-custom label. Labels with asterisks as their last character will have it moved to the outside of the colon.</td>
        </tr>
        <tr>
          <td><span>textAlignLeft</span></td>
          <td>boolean</td>
          <td>Defaults to aligning label text to the left, but if true the label is aligned right. </td>
        </tr>
        <tr>
          <td><span>maxLabelWidth</span></td>
          <td>boolean</td>
          <td>If label width exceeds this length, wrap the label.</td>
        </tr>
        <tr>
          <td><span>errorHighlightOnTouched</span></td>
          <td>boolean</td>
          <td>Toggles whether error highlights show on invalid form inputs after they've been touched.<br>
            False means no error highlights show unless `errorHighlight` is true</td>
        </tr>
        <tr>
          <td><span>errorHighlight</span></td>
          <td>boolean</td>
          <td>Toggles error highlights on/off for invalid form inputs.
            Automatically and always false if `errorHighlightOnTouched` is true. Otherwise, can be toggled on and off by parent component.<br>
            This is set to true by default even though it will be set to false on NgOnInit(). This is a fallback just in case `errorHighlightOnTouched` is false.
            In that case, the errors will show up immediately (as opposed to never showing up if `errorHighlight` is not set.)<br>
            @example &lt;mc-form-grid [errorHighlight]=&quot;formHasBeenSubmitted&quot;&gt; - only displays errors after a form has been submitted and not before.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
