<div class="card">
  <div class="card-body text-center">
    <h1 class="">MC-Form-Grid</h1>
    <p class="">An Angular NPM Package for organizing Reactive Forms into easy layout grids.</p>

    <mc-form-grid columns="2">
      <mc-form-input label="Input 1">
        <input class="form-control" type="text">
      </mc-form-input>
      <mc-form-input label="Input 2">
        <input class="form-control" type="text">
      </mc-form-input>
      <mc-form-divider label="Divider"></mc-form-divider>
      <mc-form-input label="Textarea 1" rowSpan="2">
        <textarea class="form-control" placeholder="Textarea 1"></textarea>
      </mc-form-input>
      <mc-form-input label="Select 1" startingCol="2">
        <select class="form-control">
          <option>Select 1</option>
        </select>
      </mc-form-input>
      <mc-form-input label="Select 2" startingCol="2">
        <select class="form-control">
          <option>Select 2</option>
        </select>
      </mc-form-input>
    </mc-form-grid>

  </div>
</div>
