<div class="card">
  <div class="card-body ">
    <h1 class="text-center">Installing MC-Form-Grid</h1>

    <p>Install using <code>npm i mc-form-grid --save</code> or visit the <a href="https://www.npmjs.com/package/mc-form-grid">NPM page</a>.</p>

    <p>Then import MCFormGridModule in the Angular Module you want to use it in.</p>
    <div class="code">
      <div style="color: #f8f8f2; background-color: #272822; font-family: Consolas, 'Courier New', monospace; font-size: 14px; line-height: 19px; white-space: pre;">
        <div><span style="color: #f92672;">import</span>&nbsp; {{ '{' }}&nbsp;McFormGridModule&nbsp;{{ '}' }}&nbsp;<span style="color: #f92672;">from</span>&nbsp;<span style="color: #e6db74;">'mc-form-grid'</span>;</div>
        <br />
        <div>@<span style="color: #a6e22e; text-decoration-line: underline;">NgModule</span>({{ '{' }}</div>
        <div>&nbsp;&nbsp;declarations:&nbsp;[</div>
        <div>&nbsp;&nbsp;],</div>
        <div>&nbsp;&nbsp;imports:&nbsp;[</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #a6e22e; text-decoration-line: underline;">McFormGridModule</span>,</div>
        <div>&nbsp;],</div>
      </div>
    </div>

    After <code>MCFormGridModule</code> is imported in the module, you can use it in any component in the module.
  </div>
</div>
